@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
  border: none;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: rgb(119, 177, 169);
}
